trunk/GFive/GF.Portal/GF.Portal.UI.WEB/Web References/WSPedido/WSPedidoObtener.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoListado">
        <s:complexType />
      </s:element>
      <s:element name="PedidoListadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PedidoListadoResult" type="tns:ArrayOfEpedido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEpedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Epedido" nillable="true" type="tns:Epedido" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Epedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ped_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ped_cli_ruc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ped_razonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ped_fecha" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ped_total" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ped_pro_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pro_descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ped_precio" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ped_cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ped_subTotal" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="situacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desEstado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoListadoSoapIn">
    <wsdl:part name="parameters" element="tns:PedidoListado" />
  </wsdl:message>
  <wsdl:message name="PedidoListadoSoapOut">
    <wsdl:part name="parameters" element="tns:PedidoListadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSPedidoObtenerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PedidoListado">
      <wsdl:input message="tns:PedidoListadoSoapIn" />
      <wsdl:output message="tns:PedidoListadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPedidoObtenerSoap" type="tns:WSPedidoObtenerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoListado">
      <soap:operation soapAction="http://tempuri.org/PedidoListado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPedidoObtenerSoap12" type="tns:WSPedidoObtenerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoListado">
      <soap12:operation soapAction="http://tempuri.org/PedidoListado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPedidoObtener">
    <wsdl:port name="WSPedidoObtenerSoap" binding="tns:WSPedidoObtenerSoap">
      <soap:address location="http://localhost:1046/WebService/WSPedidoObtener.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPedidoObtenerSoap12" binding="tns:WSPedidoObtenerSoap12">
      <soap12:address location="http://localhost:1046/WebService/WSPedidoObtener.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>