GFive/GF.Portal/GF.Portal.UI.WEB/Web References/WSProducto/WSProductoStock.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductoStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idProducto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductoStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductoStockResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductoObtener">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idProducto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductoObtenerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductoObtenerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ProductoStockSoapIn">
    <wsdl:part name="parameters" element="tns:ProductoStock" />
  </wsdl:message>
  <wsdl:message name="ProductoStockSoapOut">
    <wsdl:part name="parameters" element="tns:ProductoStockResponse" />
  </wsdl:message>
  <wsdl:message name="ProductoObtenerSoapIn">
    <wsdl:part name="parameters" element="tns:ProductoObtener" />
  </wsdl:message>
  <wsdl:message name="ProductoObtenerSoapOut">
    <wsdl:part name="parameters" element="tns:ProductoObtenerResponse" />
  </wsdl:message>
  <wsdl:portType name="WSProductoStockSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductoStock">
      <wsdl:input message="tns:ProductoStockSoapIn" />
      <wsdl:output message="tns:ProductoStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductoObtener">
      <wsdl:input message="tns:ProductoObtenerSoapIn" />
      <wsdl:output message="tns:ProductoObtenerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSProductoStockSoap" type="tns:WSProductoStockSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoStock">
      <soap:operation soapAction="http://tempuri.org/ProductoStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoObtener">
      <soap:operation soapAction="http://tempuri.org/ProductoObtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSProductoStockSoap12" type="tns:WSProductoStockSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoStock">
      <soap12:operation soapAction="http://tempuri.org/ProductoStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoObtener">
      <soap12:operation soapAction="http://tempuri.org/ProductoObtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSProductoStock">
    <wsdl:port name="WSProductoStockSoap" binding="tns:WSProductoStockSoap">
      <soap:address location="http://localhost:1046/WebService/WSProductoStock.asmx" />
    </wsdl:port>
    <wsdl:port name="WSProductoStockSoap12" binding="tns:WSProductoStockSoap12">
      <soap12:address location="http://localhost:1046/WebService/WSProductoStock.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>